menu{
    position: fixed;
    /* position: static; */
    left: 250px;

}
li{
    float: left;
    padding: 20px;
    background-color: aquamarine;
    list-style: none;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
/* p{
    position: absolute;
    position: relative;
    top: 200px;
} */
h1{
    /* position: absolute; */
    position: relative;
    left: 300px;
    /* top: 200px; */
    font-size: 50px;
}